//
//
//
@import './mixins';

body {
  margin: 0;

  color: #292728;
  font-family: Helvetica Neue,Helvetica,Arial,SCREEN GP Sans SC,sans-serif;

  overflow-x: hidden;
}

img {
  content: normal !important;
}

a {
  text-decoration: none;

  &:active {
    opacity: .85;
  }
}


#app {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.container {
  padding-bottom: 120px;
}



// 
.van-swipe__indicators {
  bottom: 12px !important;
}
.van-swipe__indicator {
  margin-left: 4px;
  margin-right: 4px;

  width: 12px;
  height: 12px;

  background-color: #fff !important;
  opacity: .5;
}
.van-swipe__indicator--active {
  background-color: #d43c33 !important;
  opacity: 1;
}


.control-close-btn {
  position: relative;
  display: inline-block;

  width: 56px;
  height: 56px;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 26px;

    height: 52px;
    width: 3px;
    overflow: hidden;

    background: #9e9c9d;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

//
.van-pull-refresh__head {
  text-align: center;
  
  .van-loading {
    margin-left: auto;
    margin-right: auto;
  }
}