//
//
//
body {
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,SCREEN GP Sans SC,sans-serif;

  overflow-x: hidden;
}

img {
  content: normal !important;
}

a {
  text-decoration: none;

  &:active {
    opacity: .85;
  }
}

.container {
  padding-bottom: 120px;
}

.space-line {
  width: 100%;
  height: 1px;
  overflow: hidden;

  border-top: 1px solid #e3e4e6;

  transform: scaleY(0.5);
}
.flickity-viewport {
  height: 100% !important;
}
.flickity-page-dots {
  bottom: 12px !important;

  .dot {
    margin-left: 4px;
    margin-right: 4px;

    width: 12px;
    height: 12px;

    background-color: #fff !important;
    opacity: .5;

    &.is-selected {
      background-color: #e64741 !important;
    }
  }
}